# stdio or http
MCP_TRANSPORT=http
GITHUB_TOKEN=your-gh-token
PORT=3000
DEBUG=0

# only for side-car containers
SEARXNG_SECRET=change-me
MEMPALACE_USER_NAME=your-name
MEMPALACE_USER_EMAIL=user@email.com